* {
    margin: 0px;
}

#Header {
    background-color: cadetblue;
    width: 100%;
    position: sticky;
    top:0px;
    z-index: 1;
}

#MainContent {
    background-color: coral;
}

/*
.ContentSection{
    height: 10cm;
}
*/

#CS_1,#CS_3 {
    background-color: cornsilk;
}

#CS_2,#CS_4 {
    background-color:crimson;
}

.ContentSection p{
    width: 50%;
}

#div_form_contacto {
    width: 50%;
}

#FootPage {
    background-color: darkkhaki;
    width: 100%;
    position: sticky;
    bottom: 0px;
}

#twitchPlayer {
    position: absolute;
    left: 50%;
    bottom: -300%;
}